In [17]:
# Create Data Base

import tkinter as tk
from tkinter import *

import mysql.connector 

mydb = mysql.connector.connect(host='localhost',username='root',password='password')
mycursor = mydb.cursor()
mycursor.execute('create database jay')

DatabaseError: 1007 (HY000): Can't create database 'jay'; database exists

In [18]:
# Check Data Base Create or Not
import mysql.connector 

mydb = mysql.connector.connect(host='localhost',username='root',password='password')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C0BBE06910>

In [19]:
# Create Table
import mysql.connector 

mydb = mysql.connector.connect(host='localhost',username='root',password='password',db='jay')
query = mydb.cursor()
query.execute('create table Student (Firstname varchar(20), Lastname varchar(20), Address varchar(30), City varchar(10), Class varchar(10))')

In [22]:
# Check Table Create or Not
import mysql.connector 

mydb = mysql.connector.connect(host='localhost',username='root',password='password',db='jay')
query = mydb.cursor()
query.execute('show tables')
for i in query:
    print(i)

('student',)

In [40]:
# Student Management System 
import tkinter as tk
from tkinter import *
import mysql.connector 
from tkinter import messagebox

# btn_insert function
def btn_insert():
    # get entry data    
    fnm1 = fnm.get()
    lnm1 = lnm.get()
    add1 = add.get()
    ct1  = ct.get()
    cs1  = cs.get()
    try:
        # connect with db
        mydb = mysql.connector.connect(host='localhost',username='root',password='password',db='jay')
        query = mydb.cursor()
        insert_query = '''insert into Student (Firstname, Lastname, Address, City, Class) values (%s, %s, %s, %s, %s)'''
        insert_data = (fnm1, lnm1, add1, ct1, cs1)
        query.execute(insert_query,insert_data)
        mydb.commit()
        print('Record inserted successfully into Student table')
        messagebox.showinfo('Record','Record inserted successfully')
    # henddel connection error    
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
            
# main windows
win = tk.Tk(className='Student Management System')
win.geometry("400x400")

# create labels
tk.Label(win, text='Firstname').grid(row=0,column=0,sticky='w')
tk.Label(win, text='Lastname').grid(row=1,column=0,sticky='w')
tk.Label(win, text='Address').grid(row=2,column=0,sticky='w')
tk.Label(win, text='City').grid(row=3,column=0,sticky='w')
tk.Label(win, text='Class').grid(row=4,column=0,sticky='w')

# create Entry 
# entry value store in variables
fnm = tk.StringVar()
lnm = tk.StringVar()
add = tk.StringVar()
ct = tk.StringVar()
cs = tk.StringVar()

# entry widget
tk.Entry(win, textvariable=fnm).grid(row=0,column=1)
tk.Entry(win, textvariable=lnm).grid(row=1,column=1)
tk.Entry(win, textvariable=add).grid(row=2,column=1)
tk.Entry(win, textvariable=ct).grid(row=3,column=1)
tk.Entry(win, textvariable=cs).grid(row=4,column=1)

#add button
tk.Button(win, text='Insert',activebackground='blue',command=btn_insert).grid(row=6)

win.mainloop()

Record inserted successfully into Student table